*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mid1{
    height: 78vh;
    width: 100vw;
    border: 2px solid white;
    background: url(./Assets/main.avif);
    background-size: cover;
}
.menu>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   
   
}
.menu>.b{
    margin-left: 25px;
}
.menu>.c{
    margin-left: 25px;
}
.menu{
    margin-left: 130vh;
    margin-top: 30px;
}
.mid2{
    margin-top: 170px;
    margin-left: 400px;
    /* align-items: center; */
    color: white;
    font-family: 'Times New Roman', Times, serif;
    /* border: 2px solid red; */
    align-items: center;
    padding-left: 150px;
}
.mid2>h1{
    font-size: 70px;
   
}
.mid2>h2{
    font-size: 30px;
    /* word-spacing: 10px; */
    letter-spacing: 4px;
}
.mid3{
    height: 32vh;
    width: 60vw;
    /* border: 2px solid red; */
    text-align: center;
    margin-left: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mid3>h1{
    margin-top: 50px;
    font-size: 40px;
    font-weight: lighter;
}
.mid3>p{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(48, 42, 42);
}

.btns{
    height: 200vh;
    width: 100vw;
    /* border: 2px solid red; */
    text-align: center;
}
.btns>button{
    height: 60px;
    width: 390px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background-color: white;
    border: 2px groove white;
    /* box-shadow: 0px 0px 10px white; */

}
.btns>button:hover{
    cursor: pointer;
    background-color: rgb(222, 211, 196);
    /* text-shadow: 20px 2px 20px  black; */
    /* box-shadow: 0px 0px 10px white; */

}
.footer{
    height: 10vh;
    width: 100vw;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.x>p{
    font-size: 30px;
    margin-right: 250px;
    font-weight: bold;
}
.Y>button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    /* padding-left: 20px; */
    font-weight: bold;
}
.Y>button:hover{
    cursor: pointer;
}
/* .footer>.box1{
    height:150px;
    width: 100px;
    border: 2pc solid red;
} */
.footer>a{
    border: 2px solid red;
    margin-bottom: 20px;
}



